<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Set the character set and viewport for the document -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Set the title of the page -->
  <title>Blackjack Game</title>
  <!-- Link to an external stylesheet for styling -->
  <link rel="stylesheet" href="../static/style/game.css">
</head>

<body>
  <!-- Modal for user input -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <!-- Title and form for user information -->
      <div class="modal-header">
        <img src="/static/images/suits-left.png">
        <h1>Welcome to the Blackjack Table!</h1>
        <img src="/static/images/suits-right.png">
      </div>
      <form id="userInfoForm">
        <label for="playerName">Player Name:</label>
        <input type="text" name="playerName" id="playerName" required>
        <label for="playerBalance">Account Balance:</label>
        <input type="number" id="playerBalance" name="playerBalance" required>
        <!-- Button to submit the form -->
        <button type="submit" id="submitPlayerButton">Submit</button>
      </form>
    </div>
  </div>
  <!-- Main game container -->
  <div id="game" class="game-container">
    <div class="table-container">
      <!-- Player information and join button for player 1 to player 6 -->
      {% for i in range(1, 7) %}
      <div class="player-info player-info-empty player-{{ i }}-info" id="player{{ i }}Info">
        <div class="join-button">
          <h2>SIT</h2>
        </div>
      </div>
      <!-- Player bet containers for player 1 to player 6 -->
      <div class="player-bet player-{{ i }}-bet"></div>
      {% endfor %}

    </div>
  </div>

  <script type="module" src="/static/scripts/index.js"></script>

</body>

</html>